@model IEnumerable<ProductCatalog.Application.DTOs.CategoryDTO>

@{
    ViewData["Title"] = "Categorias";
}

<div>
    <h2 class="title-page">@ViewData["Title"]</h2>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <div>
            <div class="pull-left">
                <a asp-action="Create" class="btn button-sucess">
                    <span title="Adicionar Categoria"><i class="fa-solid fa-square-plus"></i> Adicionar</span>
                </a>
            </div>
        </div>
    </div>
</div>
<br />
<div class="panel panel-default">
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    Ações
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" title="Editar" class="btn button-sucess">
                            <span><i class="fa-solid fa-pen-to-square"></i></span>
                        </a>

                        <a asp-action="Details" asp-route-id="@item.Id" title="Detalhes" class="btn button-info">
                            <span><i class="fa-solid fa-magnifying-glass"></i></span>
                        </a>

                        <a asp-action="Delete" asp-route-id="@item.Id" title="Excluir" class="btn button-delete">
                            <span class="fas fa-trash-alt"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>