@model ProductCatalog.Application.Utilities.PaginatedList<ProductCatalog.Application.DTOs.CategoryDTO>

@{
    ViewData["Title"] = "Categorias";
}

<div>
    <h2 class="title-page">@ViewData["Title"]</h2>
</div>
<hr />
<div class="row mb-4">
    <div class="col-md-3">
        <input type="text" id="filterInput" class="form-control" placeholder="Filtrar por nome">
    </div>
    <div class="col-md-6 text-right">
        <button id="filterButton" class="btn button-info">
            <span title="Pesquisar"><i class="fa-solid fa-magnifying-glass"></i></span>
        </button> |
        <a asp-action="Index" class="btn button-delete">
            <span title="Limpar Filtro"><i class="fa-solid fa-xmark"></i></span>
        </a> |
        <a asp-action="Create" class="btn button-success">
            <span title="Adicionar Categoria"><i class="fa-solid fa-square-plus"></i> Adicionar</span>
        </a>
    </div>
</div>
<hr />
<div class="d-flex justify-content-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @if (Model.HasPreviousPage)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { pageNumber = Model.PageIndex - 1 })" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { pageNumber = i })">@i</a>
                </li>
            }
            @if (Model.HasNextPage)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { pageNumber = Model.PageIndex + 1 })" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>
<br />
<div class="panel panel-default">
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    Ações
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" title="Editar" class="btn button-success">
                            <span><i class="fa-solid fa-pen-to-square"></i></span>
                        </a>

                        <a asp-action="Details" asp-route-id="@item.Id" title="Detalhes" class="btn button-info">
                            <span><i class="fa-solid fa-magnifying-glass"></i></span>
                        </a>

                        <a asp-action="Delete" asp-route-id="@item.Id" title="Excluir" class="btn button-delete">
                            <span class="fas fa-trash-alt"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        let indexUrl = "@Url.Action("Index")";
    </script>
}