@model ProductCatalog.Application.DTOs.ProductDTO

<h3 class="subtitle-page">Excluir Produto</h3>

<h4 class="title-delete">Tem certeza de que deseja excluir isso?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>

    <form asp-action="Delete">
        <button type="submit" title="Excluir" class="btn button-delete">
            <i class="fa-solid fa-trash-can"></i>
        </button> |
        <a asp-action="Index" title="Retornar ao Lista" class="btn button-return">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
    </form>
</div>